{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Women in Geospatial Nepal</title>
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
      
    </head>
    <body>
        <div class="main">
            <div class="cover-image">
                <div class="navbar-content">
                    <div class = "social-media-link" >
                        <a class="navbar-content-element" href="https://www.facebook.com/womeningeospatial" target="_blank"><i class="fab fa-facebook-f"></i></a>
                        <a class="navbar-content-element" href="https://www.linkedin.com/in/women-in-geospatial-nepal-2774322b9/" target="_blank"><i class="fab fa-linkedin"></i></a>    
                    </div>
                    <div class = "other-link">
                        <a class="navbar-content-element" href="#">Home</a>
                        <a class="navbar-content-element" href="{% url 'about' %}">About</a>
                        <a class="navbar-content-element" href="#">Contact</a>
                    </div>
                </div>
                <div class="cover-text">
                    <div class="header">Women in Geospatial Nepal</div>                       
                </div>
                <div class="cover-description-text">
                    <p class="description-dark">Advancing gender diversity in leadership roles within the geospatial sector.</p><br><br><br>
                    <!-- <h2 class = "tagline">Building Connections! Breaking Barriers!</h2> -->
                    <p class="description-dark">Join in the cohort of geospatial enthusiasts in Nepal</p>          
                    <button id="btnRegistration" class = "primary-button" onclick="toggleForm()">Register here</button>
                </div>

            </div>
            <div class = "container-level2">
                <h2 class = "tagline">Building Connections! Breaking Barriers!</h2>
                   
                <p class="description-light">Women in Geospatial Nepal is on a mission to create a vibrant, inclusive community of geospatial enthusiasts. Our vision is to unite professionals from diverse backgrounds within the geospatial industry, offering a platform where their knowledge and experiences can ignite inspiration and drive innovation. Together, we're not just sharing insights; we're paving the way for future generations, empowering them to explore and excel in the dynamic world of geospatial technology.</p>      
                <p class="description-light2">Join in the cohort of geospatial enthusiasts in Nepal</p>
                <button id="btnRegistration2" class = "primary-button">Register here</button>
            </div>
            <div class="event-container">
                <div class="section-header">
                    Upcoming Events
                </div>
                <div class ="event-box">
                <div>
                    <p>Image</p>
                </div>
                <div>
                    <div>Event Title</div>
                    <div>Event Date</div>
                    <div>Event Description</div>>
                    <button class = "secondary-button">Read more</button>
                </div>
                </div>

            </div>          
            
        </div>

    </body>
    <script src="{% static 'js/index.js'%}"></script>
</html>