{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Women in Geospatial Nepal</title>
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
      
    </head>
    <body>
        <div class="main">
            <div class="navbar"></div>
            <div class="cover-image">
                <div class="cover-text">
                    <h1 class="header">Women in Geospatial Nepal</h1>                       
                </div>
                <div class="cover-description-text">
                    <p class="description-dark">Advancing gender diversity in leadership roles within the geospatial sector.</p><br><br><br>
                    <!-- <h2 class = "tagline">Building Connections! Breaking Barriers!</h2> -->
                    <p class="description-dark">Join in the cohort of geospatial enthusiasts in Nepal</p>          
                    <button id="btnRegistration" class = "btn--primary-outline-container1">Register here</button>
                </div>

            </div>
            <div class = "container-level2">
                <h2 class = "tagline">Building Connections! Breaking Barriers!</h2>
                   
                <p class="description-light">Women in Geospatial Nepal is on a mission to create a vibrant, inclusive community of geospatial enthusiasts. Our vision is to unite professionals from diverse backgrounds within the geospatial industry, offering a platform where their knowledge and experiences can ignite inspiration and drive innovation. Together, we're not just sharing insights; we're paving the way for future generations, empowering them to explore and excel in the dynamic world of geospatial technology.</p>      
                <p class="description-light2">Join in the cohort of geospatial enthusiasts in Nepal</p>
                <button id="btnRegistration2" class = "btn--primary-outline-container2">Register here</button>
            </div>
            <div>
                <!-- <form action="submit.php" method="post">
                    <label for="name">Name:</label>
                    <input type="text" id="name" name="name" required><br><br>
                    
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required><br><br>
                    
                    <label for="phone">Phone:</label>
                    <input type="tel" id="phone" name="phone"><br><br>
                    
                    <input type="submit" value="Submit">
                </form> -->
                <form method="post">
                    {% csrf_token %}

                    {{form.as_p}}
                    <button type ='submit'>Submit</button>
                </form>
            </div>
        </div>
    </body>
    <script src="{% static 'js/index.js'%}"></script>
</html>